{% load static %}
{% load country_tags %}


<!--{% get_countries as cntries %}-->


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'country/images/earth_icon.jpg' %}" type="image/x-icon">
    <link type="text/css" href="{% static 'country/css/styles.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <table class="table-head">
        <tr class="table-head">
            {% for m in menu %}
            <td class="table-head">
                <a class="table-head" href="{% url m.link %}">{{ m.name }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>

    <table class="main-table">
        <tr class="main-table">
            <td class="block-conti">
                <ul>
                    {% if cont_id == 0 %}
                        <li class="not_selected"><b>Все континенты</b></li>
                    {% else %}
                        <li class="not_selected"><b><a class="table-head" href="{% url 'homepage' %}">Все континенты</a></b></li>
                    {% endif %}
                    {% for c in conties %}
                        {% if c.id == cont_id %}
                          <li><i><a class="table-head" href="{{ c.get_absolute_url }}">{{ c.contitent_name }}</a></i></li>
                        {% else %}
                          <li><a class="table-head" href="{{ c.get_absolute_url }}">{{ c.contitent_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td class="mt-center">
                {% block content %}
                {% endblock %}
            </td>
        </tr>
    </table>

    <table class="footer">
        <tr class="footer">
            <td class="footer">
                Сайт разработан для отработки навыков. Я- молодец!!!
            </td>
        </tr>
    </table>

</body>
</html>