{% extends 'country/base.html' %}

{% block title %}{{ title }} {% endblock %}
{% block leftmenu %}
    <ul>
        <li class="selected"><b>Все континенты</b></li>
      {% for c in continents %}
          <li>{{ c.contitent_name }}</li>
      {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {% for c in cntries %}
    <a class="table-head" href="{{ c.get_absolute_url }}"><h1>{{ c.country_name }}</h1></a>
    <p>{{ c.country_description | linebreaksbr | truncatewords:50 }}</p><br><hr><br>
    {% endfor %}

{% endblock %}