
table.table-head {
    width: 100%;
    height: 50px;
    table-layout: fixed;
    text-align: center;
    background: #535447;
}

td.table-head {
    border: 1px solid white;
}

a.table-head {
    text-decoration: none;
    color: #ad8c63;
}

a.table-head:hover {
    color: #be9d74;
}

table.main-table {
    width: 100%;
}

td.block-conti {
    width: 20%;
    background: #eee;
    font-size: 1.25em;
    padding-top: 10px;
    vertical-align: top;
    border-right: 1px solid #535447;
}

td.block-conti ul {
	padding: 20px 10px 10px 20px;
    list-style: none;
    line-height: 40px;
}
td.block-conti ul li.selected:hover {
    color: #be9d74;
}

td.mt-center {
	padding: 50px 50px 50px 50px;
    background-image: url(../images/karta-mira.jpg);
    background-size: contain;
}

table.footer {
box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #535447;
    color: #ad8c63;
}

h1.table-head {
    color: #ad8c63;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 0 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}